*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
	font-size: 20px;
	outline: 0;
	-webkit-text-size-adjust:none;
}
body {
	min-width: 320px;
	/*14px*/
	font-size: 1.4rem;
	background-color: #f1f1f1;
	color: #666;
}
.clear{
     clear:both;
     zoom: 1;
	overflow: hidden;
}
.top{
	background: url(../img/top-p.png) no-repeat center center;
	background-size:100% 100% ;
	width:100%;
	height:15rem;
}


.container{
	padding:2%;
	background-color: #ffb400;
	width:96%;
	margin: 0 auto;
}
.cont-1{
	float:left;
	width:49%;
	background-color: white;  
    height:16rem;
    position: relative;
    text-align: center;	
    margin-bottom: 2%;
}

.m-r{
	margin-right: 2%;
}
.m-t{
	margin-top: 2%;
}
.cont-1 img{
	
	margin: 0 auto;
	width:240px;
	height:240px;
}
i{
	background: url(../img/small-p.png)no-repeat center center;
	background-size: 100% 100%;
    display: block;
    position:absolute;
    top:5%;
    right:9%;
}
var{
	background: url(../img/shouqin.png)no-repeat center center;
	background-size: 100% 100%;
    display: block;
    position:absolute;
    top:;
    right:;
}
.cont-1 p{
	font-size:0.8rem;
}
@media screen and (min-width:320px){.cont-1 img{ height: 170px;width:170px;}i{height: 55px;width: 55px;}} 
@media screen and (min-width:480px){.cont-1 img{ height: 190px;width:190px;}i{height: 65px;width: 65px;}} 
@media screen and (min-width:640px){.cont-1 img{ height: 240px;width: 240px;}i{height: 75px;width: 75px;}}
.cont-p{
	background: url(../img/small-1.png) no-repeat center center;
	background-size:100% 100% ;
	height:2.5rem;
	
	line-height: 2.5rem;
	position: absolute;
	bottom:0;
	left: 0;
	width:100%;
}
.cont-p .left{
	color:white;
	display: block;
    float:left;
	padding-left:0.04rem;
	width:50%;
}

.line-through{
	text-decoration: line-through;
	float:right;
	display: block;
	padding-right:0.2rem ;
	
}
.big{
	font-size: 1.4rem;
}
.mid{
	background: url(../img/iphone.png) no-repeat center center;
	background-size:100% 100% ;
	width:100%;
	height:15rem;
	position: relative;
}
.mid .dl-1{
	position: absolute;
	left:44%;
	top:4rem;
	font-size: 1rem;
	
}
.mid .dl-1 dt{
	font-size:1.4rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.mid .dl-2{
	position: absolute;
	left:44%;
	top:9rem;

}
.mid .dl-2 dd{
	text-decoration: line-through;
	font-size: 1rem;
}
.mid-1{
	background: url(../img/oserver.png) no-repeat center center;
	background-size:100% 100% ;
	width:100%;
	height:15rem;
	position: relative;
}
.mid-1 .dl-1{
	position: absolute;
	left:44.10%;
	top:6rem;
	
}
.mid-1 .dl-1 dt{
	font-size:1.4rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}




